*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  html {
    /*Variáveis*/
    --bg-color: #edf2ff;
    --text-color: #000000;
    --primary-color: #9a9abf;;
    --primary-color-dark: #0394fc;
  }
  
  body.dark {
    --bg-color: #00082f;
    --text-color: #ffffff;
    --primary-color-dark: #146096;
  }
  
  body.pink {
    --bg-color: #FFF0F6;
    --text-color: #1F000B;
    --primary-color: #D6336C;
    --primary-color-dark: #A61E4D;
  }
  
  body.pink-dark {
    --bg-color: #6a032f;
    --text-color: #FFFFFF;
    --primary-color: #D6336C;
    --primary-color-dark: #b10944;
  }
  
  body{
    background: var(--bg-color);
    color: var(--text-color);
    font-family: "Ubuntu", sans-serif;
    
  }
  
  .container {
    text-align: center;
    width: 300px;
    margin: 50px auto;
  
  }
  
  img {
    width: 100%;
  }
  img.avatar{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 5px;
    border: var(--primary-color) solid 5px;
  
  }
  
  h1{
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  
  .username {
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
  }
  
  ul{
    list-style: none;
    margin: 40px 0;
    ;
  }
  
  ul li a {
    height: 53px;
    display: flex;
    margin-top: 10px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    transition: background 400ms;
  
  }
  
  /* Pseudo-Class */
  ul li a:hover {
    background: var(--primary-color-dark);
  
  }
  
  footer{
    font-weight: 500;
    font-size: 14px;
    opacity: 0.6;
    transition: 400ms;
  
  }
  
  footer:hover {
    opacity: 1;
  }